{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .data-table-container {
        max-height: 400px;
        /* Adjust the max height as needed */
        overflow-y: auto;
    }

    .data-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .data-table th,
    .data-table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #e2e8f0;
    }

    .data-table th {
        background-color: #f8fafc;
        font-size: 1.8rem;
        /* Adjust the font size as needed */
    }

    .data-table tbody tr:hover {
        background-color: #f0f4f8;
        transition: background-color 0.3s ease;
    }

    .proofile {
        display: none;
    }
</style>


<body class="bg-gray-200">
    <!-- Barra lateral -->
    <div id="sideNav" class="lg:block hidden bg-white w-64 h-screen fixed rounded-none border-none">
        <!-- Items -->
        <div class="p-4 space-y-4">
            <!-- start -->
            <a href="#" aria-label="dashboard"
                class="relative px-4 py-3 flex items-center space-x-4 rounded-lg text-white bg-gradient-to-r from-green-600 to-green-300">
                <i class="fas fa-home text-white"></i>
                <span class="-mr-1 font-medium">Home</span>
            </a>

            <a href="{% url 'admincharts' %}"
                class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-500 group">
                <i class="fas fa-wallet"></i>
                <span>Dashboard</span>
            </a>
            <a href="#bookings" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-500 group">
                <i class="fas fa-book"></i>
                <span>Booking</span>
            </a>
            <a href="#bikes" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-500 group">
                <i class="fa-solid fa-bicycle"></i>
                <span>Bikes</span>
            </a>
            <a href="#customers" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-500 group">
                <i class="fas fa-user"></i>
                <span>User</span>
            </a>
            <a href="{% url 'logout_user' %}"
                class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-500 group">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </div>
            
    </div>
    </div>

    <div class="lg:ml-64 lg:pl-4 lg:flex lg:flex-col lg:w-75% mt-5 mx-2">

        <!-- Buscador -->
        <div class="bg-white rounded-full border-none p-3 mb-4 shadow-md">

            <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">
                Welcome! <span class="text-green-500">{{user_profile_info.fname}}
                    {{user_profile_info.lname}}</span>.
        </div>

        <!-- Contenedor Principal -->
        <div class="lg:flex gap-4 items-stretch">

            <!-- <div class="bg-white md:p-2 p-6 rounded-lg border border-gray-200 mb-4 lg:mb-0 shadow-md lg:w-[35%]">
                <div class="flex justify-center items-center space-x-5 h-full">
                    <div>
                        <p>Saldo actual</p>
                        <h2 class="text-4xl font-bold text-gray-600">{{ user_profile.balance }} ₹</h2>
                    </div>
                    <img src="https://www.emprenderconactitud.com/img/Wallet.png" alt="wallet" class="h-24 md:h-20 w-38">
                </div>
            </div> -->

            <!-- Caja Blanca -->
            <!-- Caja Blanca -->
            <div class="bg-white p-4 rounded-lg xs:mb-4 max-w-full shadow-md lg:w-full">

                <!-- Cajas pequeñas -->
                <div class="flex flex-wrap justify-between h-full">

                    <!-- Caja pequeña 1 (Bike Owners) -->
                    <div
                        class="flex-1 bg-gradient-to-r from-green-300 to-green-600 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2">
                        <i class="fas fa-bicycle text-white text-4xl"></i>
                        <p class="text-white">Bike Owners</p>
                        <p class="text-white">Total: {{ bike_owners|length }}</p>
                    </div>

                    <!-- Caja pequeña 2 (Customers) -->
                    <div
                        class="flex-1 bg-gradient-to-r from-green-300 to-green-600 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2">
                        <i class="fas fa-users text-white text-4xl"></i>
                        <p class="text-white">Customers</p>
                        <p class="text-white">Total: {{ customers|length }}</p>
                    </div>

                    <!-- Caja pequeña 3 (Bike Registrations) -->
                    <div
                        class="flex-1 bg-gradient-to-r from-green-300 to-green-600 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2">
                        <i class="fas fa-bicycle text-white text-4xl"></i>
                        <p class="text-white">Bike Registrations</p>
                        <p class="text-white">Total: {{ bike_registrations|length }}</p>
                    </div>

                    <!-- Caja pequeña 4 (Bookings) -->
                    <div
                        class="flex-1 bg-gradient-to-r from-green-300 to-green-600 rounded-lg flex flex-col items-center justify-center p-4 space-y-2 border border-gray-200 m-2">
                        <i class="fas fa-calendar-alt text-white text-4xl"></i>
                        <p class="text-white">Bookings</p>
                        <p class="text-white">Total: {{ bookings|length }}</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- Bike Owners Table -->
        <section id="owners">
            <div class="bg-white rounded-lg p-4 shadow-md my-4 data-table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 text-left">Bike Owners</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for owner in bike_owners %}
                        <tr>
                            <td>
                                <div class="flex flex-col">
                                    <h2 class="text-lg font-semibold">{{ owner.fname }} {{ owner.lname }}</h2>
                                    <p>Email: {{ owner.email }}</p>
                                    <p>Phone: {{ owner.phone }}</p>
                                    <!-- Add more fields as needed -->
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Customers Table -->
        <section id="customers">
            <div class="bg-white rounded-lg p-4 shadow-md my-4 data-table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 text-left">Customers</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>
                                <div class="flex flex-col">
                                    <h2 class="text-lg font-semibold">{{ customer.fname }} {{ customer.lname }}</h2>
                                    <p>Email: {{ customer.email }}</p>
                                    <p>Phone: {{ customer.phone }}</p>
                                    <!-- Add more fields as needed -->
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>


        <!-- Bookings Table -->
        <section id="bookings">
            <div class="bg-white rounded-lg p-4 shadow-md my-4 data-table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 text-left">Bookings</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>
                                <div class="flex flex-col">

                                    <p>Bike: {{ booking.bike.company }} {{ booking.bike.bikename }}</p>
                                    <p>Pickup Date: {{ booking.pickup_date }}</p>
                                    <p>Dropoff Date: {{ booking.dropoff_date }}</p>
                                    <!-- Add more fields as needed -->
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Bike Registrations Table -->
        <section id="bikes">
            <div class="bg-white rounded-lg p-4 shadow-md my-4 data-table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 text-left">Bike Registrations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bike_registration in bike_registrations %}
                        <tr>
                            <td>
                                <div class="flex flex-col">
                                    <h2 class="text-lg font-semibold">
                                    </h2>
                                    <p>Bike: {{ bike_registration.company }} {{ bike_registration.bikename }}</p>
                                    <p>Registration Date: {{ bike_registration.dop }}</p>
                                    <!-- Add more fields as needed -->
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </div>


    <!-- Script  -->
    <script>

        // Agregar lógica para mostrar/ocultar la navegación lateral al hacer clic en el ícono de menú
        const menuBtn = document.getElementById('menuBtn');
        const sideNav = document.getElementById('sideNav');

        menuBtn.addEventListener('click', () => {
            sideNav.classList.toggle('hidden');
        });
    </script>
</body>


{% endblock content %}