{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- component -->
<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
        <div>
            <h2 class="font-semibold text-xl text-gray-600">Document Verification</h2>
            <p class="text-gray-500 mb-6">Form is mobile responsive. Give it a try.</p>

            <form method="post" action="{% url 'kyc' %}" enctype="multipart/form-data">
                {% csrf_token %}

            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">KYC Form</p>
                        <p>Please fill out all the fields.</p>
                    </div>

                    <!-- <div class="text-gray-600">
                        <p class="font-medium text-lg">KYC</p>
                        <p>Please fill out all the fields.</p>
                    </div> -->


                    <div class="lg:col-span-2">
                        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-4">
                            <div class="md:col-span-2">
                                <div class="relative">
                                    <label for="name" class="block mb-2 text-sm font-medium text-green-800">First
                                        Name</label>
                                    <input type="text" id="fname" name="fname"
                                        class="block w-full rounded-md border-0 py-1.5 py-1 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 bg-gray-50 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="md:col-span-2">
                                <div class="relative">
                                    <label for="email" class="block mb-2 text-sm font-medium text-green-800"> Last
                                        Name</label>
                                    <input type="text" id="lname" name="lname"
                                        class="block w-full rounded-md border-0 py-1.5 py-1 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 bg-gray-50 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="md:col-span-4">
                                <div class="relative">
                                    <label for="email" class="block mb-2 text-sm font-medium text-green-800">Your
                                        email</label>
                                    <div class="mt-2">
                                        <input id="email" name="email" type="email" autocomplete="email" required
                                            class="block w-full rounded-md border-0 py-1.5 py-1 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
                                    </div>
                                </div>
                            </div>

                            <div class="md:col-span-2">
                                <div class="relative">
                                    <label class="block mb-2 text-sm font-medium text-green-800"> License Number</label>
                                    <input type="text" id="licenseno" name="licenseno"
                                        class="block w-full rounded-md border-0 py-1.5 py-1 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 bg-gray-50 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="md:col-span-2">
                                <div class="relative">
                                    <label  class="block mb-2 text-sm font-medium text-green-800"> ID Number</label>
                                    <input type="text" id="idno" name="idno"
                                        class="block w-full rounded-md border-0 py-1.5 py-1 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 bg-gray-50 placeholder:text-gray-400 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div class="md:col-span-2">
                                <div class="relative">
                                    <label class="block mb-2 text-sm font-medium text-green-800">Upload License</label>
                                    <input type="file" id="licensepic" name="licensepic"
                                        class="block w-full  text-gray-900 border py-1.5 py-1 px-3 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:border-gray-600 dark:placeholder-gray-400">
                                </div>
                            </div>

                            <div class="md:col-span-2">
                                <div class="relative">
                                    <label  class="block mb-2 text-sm font-medium text-green-800">Upload ID</label>
                                    <input type="file" id="idpic" name="idpic"
                                        class="block w-full text-gray-900 border py-1.5 py-1 px-3 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:border-gray-600 dark:placeholder-gray-400">
                                </div>
                            </div>


                            <div class="md:col-span-5 text-right">
                                <div class="inline-flex items-end">
                                    <button type="submit"
                                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 m-2 rounded">Submit</button>   
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

{% endblock content %}