{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\Royal-Enfield-Classic-350.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CLASSIC</h3>

                    <!-- <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Book</button> -->
                    <h2 class="text-gray-900 title-font text-lg font-medium">Royal Enfield Classic 350</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹50/hr</span>
                        <span class="mr-2">₹1200/day</span>
                        <span>₹8400/week</span>
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\Pulsar NS 200.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">STREET BIKE</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Bajaj Pulsar NS200</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹63/hr</span>
                        <span class="mr-2">₹1500/day</span>
                        <span>₹10500/week</span>
                    </p>
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\Honda CB Unicorn 150.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">COMMUTER</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Honda CB Unicorn 150</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹33/hr</span>
                        <span class="mr-2">₹800/day</span>
                        <span>₹5600/week</span>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\TVS Apache RTR 160.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">STREET BIKE</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">TVS Apache RTR 160</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹54/hr</span>
                        <span class="mr-2">₹1300/day</span>
                        <span>₹9100/week</span>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\Hero Splendor Plus.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">COMMUTER</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Hero Splendor Plus</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹50/hr</span>
                        <span class="mr-2">₹1200/day</span>
                        <span>₹8400/week</span>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\Suzuki Gixxer SF 250.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">SPORTS BIKE</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Suzuki Gixxer SF 250</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹63/hr</span>
                        <span class="mr-2">₹1500/day</span>
                        <span>₹10500/week</span>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\Yamaha FZ-S V3.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">STREET BIKE</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Yamaha FZ-S V3</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹33/hr</span>
                        <span class="mr-2">₹800/day</span>
                        <span>₹5600/week</span>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="{% static 'imgs\KTM Duke 200.jpg' %}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CHAPRI BIKE</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">KTM Duke 200</h2>
                    <p class="mt-1 text-indigo-500 inline-block">
                        <span class="mr-2">₹54/hr</span>
                        <span class="mr-2">₹1300/day</span>
                        <span>₹9100/week</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}